.best-offer{
    width: 100%;
    height: 350px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}


.dish{
    flex-shrink: 0;
    width: 70%;
    height: 30vh;
    border: 1px solid black;
    border-radius: 0.3em;

    overflow: hidden;

    display: flex;
    flex-direction: row;

    transition: all 0.3s;
}
.dish:hover{
    transform: translateY(-3%);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.397);
}

.dish-img-container{
    width: 30%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}
.dish-img{
    width: 100%;
    height: auto;
    transition: all 0.6s;
}
.dish-img:hover{
    transform: scale(1.3);
}

.dish-discription{
    width: 50%;
    height: 100%;
    background-color: rgb(236, 223, 205);
    border-left: 1px solid black;
}

.dish:hover .dish-price-container .go-to-menu{
    animation: shake 0.5s;
}



.dish-name{
    font-size: 25px;
    font-family: lugrasimo;
    padding: 10px 0 0 10px;
}

.dish-ingrediants-container{
    width: 50%;
    height: 80%;
}

.dish-ingrediants{
    padding: 10px;
}
.Ingrediants{
    font-size: 18px;
    font-family: Lugrasimo;
    text-decoration: underline;
}
.dish-ingrediants li{
    padding-left: 10px;
}



.dish-price-container{
    width: 20%;
    height: 100%;
    background-color: rgb(236, 223, 205);

    display: flex;
    flex-direction: column;
    align-items: center; 
}
.dish-price{
    font-size: 28px;
    padding: 50px 0 10px 0;
    font-family: LobsterTow;
}
.price{
    font-size: 20px;
    font-family: LobsterTow;
    padding-bottom: 3vh;
}
.go-to-menu{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: orange;
    font-family: Acme-Regular;

    transition: all 0.2s;
}
.go-to-menu:hover{
    padding: 10px 30px;
    background-color: rgb(255, 194, 82);
    cursor: pointer;
}

.category-name-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-name{
    font-size: 3em;
    font-family: Acme-Regular;
}
.category-name-underline{
    width: 30vw;
    height: 0.2vh;
    background-color: black;
}