.contact-main{
    padding: 50px 100px;
    display: flex;
    flex-direction: row;

}

.contact-left-section{
    width: 50%;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.contact-left-section-title{
    font-size: 40px;
}

.contact-left-section-discription{
    font-size: 18px;
    color: gray;
    width: 70%;
}

.contact-form{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.contact-user-input{
    width: 80%;
    height: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.contact-user-msg{
    width: 80%;
    height: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.contact-submit-button{
    padding: 10px 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 194, 82);
    cursor: pointer;
    font-family: Acme-Regular;

    transition: all 0.6s;
}
.contact-submit-button:hover{
    background-color: rgb(235, 163, 31);
}


.contact-right-section{
    width: 50%;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.person{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}
.person-img-container{
    width: 80px;
    height: 80px;
}
.person-img{
    width: 100%;
    height: auto;
}

.person-name{
    font-size: 22px;
}

.divider-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divider{
    width: 80%;
    height: 2px;
    background-color: black;
}
.map-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.map-title{
    font-size: 30px;
    padding-bottom: 20px;
}

.map{
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.397);
    overflow: hidden;
}