footer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 221, 202);
}

.footer-optoins-container{
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-option-title{
    font-size: 18px;
    font-weight: bold;
}

.footer-part, .working-footer-part{
    padding: 10px 0 0 0;
    color: rgb(119, 119, 119);
    cursor: pointer;
}
.footer-part:hover{
    color: black;
}
.working-footer-part:hover{
    color: black;
}

.contacts{
    display: flex;
    flex-direction: column;
}

.social-media-icon{
    width: 25px;
    height: auto;
    opacity: 0.2;
    cursor: pointer;
}
.social-media-icon:hover{
    opacity: 0.6;
}

.copyright{
    padding-top: 60px;
    text-align: center;
    color: gray;
}


