/* login page pop up */
.login-section-container,.no-page-container{

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.522);
}

.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 6px;
    position: relative;

    overflow: hidden;
}

.close-button, .close-no-page{
    position: absolute;
    background-color: transparent;
    color: rgb(0, 0, 0);
    left: 0;
    border: none;
    border-bottom-right-radius: 4px;
    padding: 7px 10px;
}
.close-button:hover , .close-no-page:hover{
    cursor: pointer;
    background-color: rgb(203, 191, 176);
}

.brand-name{
    font-size: 60px;
    padding: 10px 0 5ps 20px;
    font-family: BlantickScript;
}

.login-text{
    font-size: 30px;
    font: bold;
    padding: 10px 0 0 0;
}
.login-qst{
    font-size: 18px;
    color: gray;
}



form{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-user{
    width: 350px;
    height: 35px;
    padding: 0 10px;
    border-radius: 5px;
    border-style: solid;
    margin: 15px 0;
}

.submit-button{
    padding: 10px 80px;
    background-color: rgb(255, 194, 82);
    border: 1px solid black;
    border-radius: 7px;
    font-family: Acme-Regular;
    cursor: pointer;
    transition: all 0.3s;
}
.submit-button:hover{
    padding: 10px 100px;
    background-color: rgb(255, 172, 18);
}

.account-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.option{
    font-size: 12px;
    color: gray;
    padding: 5px;
    cursor: pointer;
}
.option:hover{
    color: black;
}

.login-options-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.login-option-qst{
    padding-bottom: 5px;
}

.login-options{
    margin-top: 15px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-option{
    background-color: rgb(226, 226, 226);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
.login-option:hover{
    background-color: rgb(208, 208, 208);
    cursor: pointer;
}

/* no page pop up-------------- */
.no-page{
    width: 200px;
    height: 100px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.no-page-txt{
    padding-top: 40px;
    font-weight: bold;
}



